.container{
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* color: linear-gradient(to bottom, #00FFB9, #02DED8); */
    gap: 20px;

    border: 10px solid #009999;
    border-radius: 10px;
    padding: 10px; 
    margin: 10px; 
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.imgContainer{
    display: grid; /* Grid konteyneri yapar */
    grid-template-columns: 150px 1fr; /* İmaj için sabit genişlik, açıklama için esnek genişlik */
    gap: 15px; /* İkisi arasında boşluk bırakır */
    align-items: center;
}

.desc{
    gap: 20px;
}

.boolean {
    display: flex;
    flex-direction: column; /* P öğelerini dikey olarak hizalar */
    align-items: center;
    gap:5px;
}


.relayItem {
    display: flex;
    align-items: center;
}

.button {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}